/* Pagination.module.css */
.paginationContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; 
  }
  
  .button {
    padding: 0.5rem 1rem; 
    background-color: #374151; 
    color: #2F873A; 
    border: 1px solid #2F873A; 
    border-radius: 0.25rem; 
    opacity: 1;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
  }
  
  .button:hover:not(:disabled) {
    background-color: #4b5563; 
  }
  
  .pageInfo {
    color: #2F873A; 
    font-weight: bold; 
  }
  